.endGameContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endGameModal {
    padding: 0.5em;
    color: white;
    max-width: 500px;
    background-color: grey;
    border: 1px solid white;
}

.endGameTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

.closeIcon {
    width: 25px;
    height: 25px;
}

.closeIcon:hover {
    cursor: pointer;
}

.shareButton {
    background-color: orange;
    border: 1px solid white;
    border-radius: 2px;
    height: 30px;
    width: 100px;
    font-size: 16px;
}

.shareButton:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.resultPoster {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
}

.resultString {
    word-wrap: anywhere;
}
