.root {
    width: 100%;
}

.loading {
    width: 100%;
    text-align: center;
}

.gameTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.resultContainer {
    display: flex;
    justify-content: center;
}

.resultContainer > div {
    margin: 0 50px;
    flex: 0 0 calc(50% - 50px);
}

.searchContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.searchContainer > div {
    margin: 0 50px;
    flex: 0 0 calc(50% - 50px);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
}

.inputContainer > input {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    font-size: 20px;
    max-width: 350px;
}

.searchList {
    width: 100%;
    max-width: 350px;
    position: absolute;
    bottom: 25px;
    list-style: none;
    padding: 0;
}

.searchList > li {
    border: 1px solid white;
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    max-width: 350px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;
    padding: 5px;
}

.buttonContainer {
    display: flex;
}

.buttonContainer > button {
    box-sizing: border-box;
    height: 50px;
    width: 130px;
    font-size: 21px;
    background-color: rgba(23, 123, 166);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.buttonContainer > button:hover {
    cursor: pointer;
    background-color: rgba(19, 152, 209, 1)
}

.helpIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-left: 10px;
    cursor: pointer;
}

.inviBlock {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

@media (max-width: 1100px) {
    .resultContainer {
        flex-direction: column-reverse;
    }

    .resultContainer > div {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .inputContainer {
        width: 350px;
    }

    .searchContainer {
        flex-direction: column;
    }

    .inputContainer > input {
        margin-bottom: 14px;
        width: 100%;
        max-width: 350px;
    }
}